<div id="page-container" class="wrapper wrapper-home white">
	<div class="dashboard">
		<div class="module mini-profile">
			<div class="flex-module profile-summary js-profile-summary">
			Reviewed by..
			</div>
			<%= render 'shared/user_info' %>
		</div>
	</div>

	<div class="content-main" id="timeline">
		<div class="content-header">
			<div class="header-inner">
				<h2 class="js-timeline-title"><%= @movie_review.movietitle %></h2>
			</div>
		</div>
		<div class="content-header">
			<div class="header-inner">
				<h4><%= @movie_review.reviewtitle %></h4>
			</div>
			
		<%= render :partial => "movie_review_detail" ,:object => @movie_review %>
		</div>
	</div>
</div>
</div>