<div class="header">
	<a href="#" class="header-button header-button-left header-back-button">
	<button>
		Back
	</button> </a>
	<a href="#" class="header-button header-button-icon header-button-right search" id="view-home-refresh">
	<button><img src="css/images/search-icon.png" alt="Refresh" width="16" height="16">
	</button> </a>

	<h1>Add Gear</h1>
</div>

<div id="addgeardiv" class="striped" style="top:44px;">
	<ul class="tableview">
		<li>
			<div class="story">
				<label for="itemmake"><b>Make</b></label>
				<input id="itemmake" type="text" name="name" />
			</div>

		</li>
		<li>
			<div class="story">
				<label for="itemmodel"><b>Model</b></label>
				<input id="itemmodel" type="text" name="name" />
			</div>
		</li>
		<li>
			<div class="story">
				<label for="itemdesc"><b>Description</b></label>
				<input id ="itemdesc" type="text" name="name" />
			</div>
		</li>
		<% if (jQuery.browser.mobile) { %>
		<li>
			<div id="imageDiv" data-role="fieldcontain">
				<b><label for="captureserialbutton">Serial No. Image</label></b>
				<button  id="captureserialbutton">
					Capture Serial Number
				</button>
				<img style="display:none;width:120px;height:120px;" id="smallImageSerial" src="" />
			</div>
		</li>
		<% } %>
		<li>
			<div class="story">
				<label for="itemserial"><b>Serial No.</b></label>
				<input id ="itemserial" type="text" name="name" />
			</div>
		</li>
		<% if (jQuery.browser.mobile) { %>
		<li>
			<div id="imageDiv" data-role="fieldcontain">
				<b><label for="capturebutton">Image Of Equipment</label></b>
				<button  id="capturebutton">
					Take Photo
				</button>
				<img style="display:none;width:120px;height:120px;" id="smallImage" src="" />
			</div>
		</li>
		<% } %>
		<li>
			<div id="catDiv" data-role="fieldcontain" class="story">
				<b><label id="catLabel" for="itemcat">Category</label></b>
				<select id="itemcat" name="itemcat_r" tabindex="2">
					<option value="ZZ">Please select a category</option>
					<option value="ELEC">Monitors</option>
					<option value="MUSC">Guitars</option>
					<option value="VIDE">Interfaces</option>
					<option value="GAME">Microphones</option>
					<option value="BOOK">Misc</option>
					<option value="BOOK">General Rack Gear</option>
					<option value="BOOK">Effects Units</option>
				</select>
			</div>
		</li>
		<li>
			<button  id="saveinvbutton">
				Save
			</button>
		</li>
	</ul>
</div>

<script type="text/javascript">
		console.log("Initializing iScroll 4 for Add");
		var myScroll2;
		function loaded() {
			setTimeout(function() {
				myScroll2 = new iScroll('addgeardiv');
			}, 100);
		}
		window.addEventListener('DOMContentLoaded', loaded, false);
	</script>